.hint-box {
  width: 100%;
  height: 3rem;
}
.champion-hint-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.champion-hint-values {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 4rem;
}

.hint-value {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 0 1px;
  border: 1px solid var(--lol-grey-1);
}

.hint-value:hover {
  box-shadow: inset 0px 0px 10px 0px #f0e6d2;
  transition: 0.3s;
}
.hint-value:first-child,
.hint-value:last-child {
  margin: 0 0 0 1px;
}
.champion-img {
  width: 3.5rem;
  height: 3.5rem;
}
.hint-value:first-child:hover {
}
.tooltip-img {
  opacity: 0;
  position: absolute;
  color: var(--lol-text-color);
  background-color: var(--lol-grey-3);
  border: 1px solid var(--lol-grey-1);
  border-radius: 5px;
  padding: 2px;
  font-size: 0.8rem;
}
.hint-value:first-child:hover .tooltip-img {
  display: flex;
  opacity: 1;
  transition: 0.3s;
}
