.champion-guesser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
}

.champion-input-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 550px;
  margin-bottom: 3rem;
}

.champion-random-quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 2rem;
  width: 550px;
  height: 200px;
  background-color: var(--lol-background-color);
  border: var(--lol-border-gold);
  color: var(--lol-text-color);
}
.champion-new-guess-button {
  cursor: pointer;
  outline: none;
  border-style: solid;
  margin-top: 5px;
  height: 4rem;
  font-size: 2rem;
  width: 100%;
  background-color: var(--lol-background-color);
  border-image: linear-gradient(var(--lol-blue-4), var(--lol-blue-2)) 30;
  color: var(--lol-text-color);
}
.hint-box-section {
  width: 100%;
  color: var(--lol-text-color);
  margin-bottom: 1rem;
}
.champion-hint-headings {
  display: flex;
  height: 64px;
  margin-bottom: 1rem;
}
.hint-heding-values {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.hint-heding-values hr {
  display: flex;
  width: 70%;
  margin: auto;
}
.hint-heading {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px 0; /* Adjusted for top and bottom only */
  margin: 0 5px; /* Slight separation between headings */
  color: var(--lol-text-color);
  padding-bottom: 4px; /* Ensure space for the line */
}
