.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 550px;

  margin-bottom: 5rem;
}
.nav-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}
.nav-bar a {
  margin: 8px;
}

.league-of-quotes-heading {
  display: inline-block;
  font-size: 4rem;
  text-shadow: 5px 0px 3px #010a13;
  color: #f0e6d2;
}

.nav-link:hover {
  transform: scale(1.04);
}
.profile-pfp {
  border-radius: 5px;
}
.nav-link {
  position: relative; /* Essential for positioning the tooltip */
  display: flex;
  align-items: center; /* Center the items vertically */
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
}

.tooltip-container {
  display: inline-block; /* Ensures the container is only as wide as its contents */
  position: relative; /* Context for absolute positioning of the tooltip */
}

.tooltip-text {
  visibility: hidden;
  width: 120px; /* Adjust width based on content */
  background-color: var(--lol-hextech-black);
  color: var(--lol-text-color);
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  bottom: 100%; /* Position below the element */
  left: 50%;
  transform: translateX(-50%); /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.nav-link:hover + .tooltip-text {
  visibility: visible;
  opacity: 1;
}
